[user]
    name = Reed Weichler
    email = rweichler@gmail.com
[color]
    ui = auto
[alias]
    count = rev-list HEAD --count
    ls = status
    day = log --since="yesterday" --pretty="oneline"
    cmall = commit -a
    cma = commit -a
    cmam = commit -a -m
    pushm = push origin master
    pullm = pull origin master
    pusho = push origin
    pullo = pull origin
    lg = log --oneline --decorate --all --graph -30
[core]
	excludesfile = ~/.gitignore_global
