[user]
    name = Reed Weichler
    email = rweichler@gmail.com
[color]
    ui = auto
[alias]
    ls = status
    day = log --since="yesterday" --pretty="oneline"
    cmall = commit -a
    cma = commit -a
    cmam = commit -a -m
    pushm = push origin master
    pullm = pull origin master
    pusho = push origin
    pullo = pull origin
[core]
	excludesfile = /Users/reed/.gitignore_global
