<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>BasebandSerialNumber</key>
	<data>JHme8g==</data>
	<key>HardwarePlatform</key>
	<string>s5l8940x</string>
	<key>EthernetAddress</key>
	<string>0c:77:1a:1a:4d:65</string>
	<key>PasswordProtected</key>
	<false />
	<key>Uses24HourClock</key>
	<false />
	<key>CompassCalibration</key>
	<data>
		BgAZIUVWQCITEf//n/9fAc0A3f8rAYAAXwBeAaoAxP8bAdYAv/8SAXkAq/8B
		ASMACgAQ/9IA7P+0AHkAq/8BAaPuAAAAAAAAAAAAAA==
	</data>
	<key>BluetoothAddress</key>
	<string>0c:77:1a:1a:4d:64</string>
	<key>HardwareModel</key>
	<string>N94AP</string>
	<key>BasebandStatus</key>
	<string>BBInfoAvailable</string>
	<key>TimeZone</key>
	<string>America/Los_Angeles</string>
	<key>DeviceName</key>
	<string>Ali's iPhone</string>
	<key>PartitionType</key>
	<string></string>
	<key>InternationalMobileEquipmentIdentity</key>
	<string>013049003713940</string>
	<key>MLBSerialNumber</key>
	<string>C7P20550CMBDQ5DD8</string>
	<key>SoftwareBundleVersion</key>
	<string></string>
	<key>CarrierBundleInfoArray</key>
	<array>
		<dict>
			<key>SIMGID1</key>
			<data>3v8=</data>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ATT_TFW_US</string>
			<key>MNC</key>
			<string>410</string>
			<key>SIMGID2</key>
			<data>//8=</data>
			<key>IntegratedCircuitCardIdentity</key>
			<string>89014103255809339915</string>
			<key>CFBundleVersion</key>
			<string>15.7</string>
			<key>MCC</key>
			<string>310</string>
		</dict>
	</array>
	<key>BasebandVersion</key>
	<string>5.0.02</string>
	<key>BasebandMasterKeyHash</key>
	<string>AEA5CCE143668D0EFB4CE1F2C94C966A6496C6AA</string>
	<key>BasebandRegionSKU</key>
	<data>
		AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
	</data>
	<key>UseRaptorCerts</key>
	<true />
	<key>TelephonyCapability</key>
	<true />
	<key>BasebandKeyHashInformation</key>
	<dict>
		<key>SKeyStatus</key>
		<integer>0</integer>
		<key>AKeyStatus</key>
		<integer>2</integer>
		<key>SKeyHash</key>
		<data>7MQEUyvzG4gjjZc7KsNNAVTS8g4=</data>
	</dict>
	<key>WiFiAddress</key>
	<string>0c:77:1a:1a:4d:63</string>
	<key>kCTPostponementInfoUniqueID</key>
	<string>013049003713940</string>
	<key>CPUArchitecture</key>
	<string>armv7f</string>
	<key>ProductVersion</key>
	<string>7.0.6</string>
	<key>IntegratedCircuitCardIdentity</key>
	<string>89014103255809339915</string>
	<key>ActivationStateAcknowledged</key>
	<true />
	<key>InternationalMobileSubscriberIdentity</key>
	<string>310410580933991</string>
	<key>WeDelivered</key>
	<true />
	<key>SIMStatus</key>
	<string>kCTSIMSupportSIMStatusReady</string>
	<key>PhoneNumber</key>
	<string>+1 (650) 964-7244</string>
	<key>BoardId</key>
	<integer>8</integer>
	<key>RegionInfo</key>
	<string>LL/A</string>
	<key>ProximitySensorCalibration</key>
	<data>
		Q00BAAwACgQAAAAAAAAAAFhQAAFsAWwBAQAtddwE3AQCALrDcANqAKSTcANa
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>FusingStatus</key>
	<integer>3</integer>
	<key>SIMGID1</key>
	<data>3g==</data>
	<key>SIMGID2</key>
	<data>/w==</data>
	<key>ProductionSOC</key>
	<true />
	<key>DeviceClass</key>
	<string>iPhone</string>
	<key>ChipID</key>
	<integer>35136</integer>
	<key>SIMTrayStatus</key>
	<string>kCTSIMSupportSIMTrayInsertedWithSIM</string>
	<key>DevicePublicKey</key>
	<data>
		LS0tLS1CRUdJTiBSU0EgUFVCTElDIEtFWS0tLS0tCk1JR0pBb0dCQU5EM2xX
		V3lhMmVlRHNWNDF4c0ZBb1VyZVRFWjJnSGxhY3czUE1IZHhpdEFDMitPbWxM
		Qjk4elAKYnJKNG9iUEh6UjNFdWozT25rNUdzREdIeE1PTUtXVmdkc1ZQTjVL
		ZUxFOFgrZkJzcTJ0NGRLZXo5RTJTa2VxUwphU0pPazU1aUR1TWRBbm5BdzZl
		MWRUY1hRK1FnSkZFNHpMS3VwR3lGcFNQTndkc0RGM3ZkQWdNQkFBRT0KLS0t
		LS1FTkQgUlNBIFBVQkxJQyBLRVktLS0tLQo=
	</data>
	<key>BasebandChipID</key>
	<integer>5898465</integer>
	<key>UniqueDeviceID</key>
	<string>9a0d84053a9b790f45ce9d03d8994df348e3f042</string>
	<key>kCTPostponementInfoPRIVersion</key>
	<string>0.1.12</string>
	<key>BasebandCertId</key>
	<integer>2</integer>
	<key>FirmwareVersion</key>
	<string>iBoot-1940.3.5</string>
	<key>kCTPostponementInfoPRLName</key>
	<integer>0</integer>
	<key>ModelNumber</key>
	<string>MC923</string>
	<key>ActivityURL</key>
	<string>https://albert.apple.com/deviceservices/activity</string>
	<key>TimeZoneOffsetFromUTC</key>
	<integer>-25200</integer>
	<key>MobileSubscriberNetworkCode</key>
	<string>410</string>
	<key>MobileSubscriberCountryCode</key>
	<string>310</string>
	<key>SBLockdownEverRegisteredKey</key>
	<true />
	<key>SoftwareBehavior</key>
	<data>EQAAAAAAAAAAAAAAAAAAAA==</data>
	<key>ProductType</key>
	<string>iPhone4,1</string>
	<key>ActivationState</key>
	<string>Activated</string>
	<key>NonVolatileRAM</key>
	<dict>
		<key>bootdelay</key>
		<data>MA==</data>
		<key>obliteration</key>
		<data>
			MjAxMy0wNi0yMCAxNDowMjozNiBHTVQtMDc6MDA6IGhhbmRsZV9tZXNzYWdl
			OiBBbmQgeW91IHdpbGwga25vdyBteSBuYW1lIGlzIHRoZSBMb3JkIHdoZW4g
			SSBsYXkgbXkgdmVuZ2VhbmNlIHVwb24gdGhlZS4=
		</data>
		<key>backlight-level</key>
		<data>MTU1Mw==</data>
		<key>boot-args</key>
		<string></string>
		<key>auto-boot</key>
		<data>dHJ1ZQ==</data>
		<key>oblit-begins</key>
		<data>
			MjAxMy0wNi0yMCAxNDowMjoxMiBHTVQtMDc6MDA6IE9ibGl0VHlwZTogT2Js
			aXRlcmF0ZURhdGFQYXJ0aXRpb24uIFJlYXNvbjogU0JSZXNldE1vZGU9Mw==
		</data>
	</dict>
	<key>ProtocolVersion</key>
	<string>2</string>
	<key>DeviceColor</key>
	<string>black</string>
	<key>SerialNumber</key>
	<string>C8PH637QDTD5</string>
	<key>BasebandActivationTicketVersion</key>
	<string>V2</string>
	<key>SupportedDeviceFamilies</key>
	<array>
		<integer>1</integer>
	</array>
	<key>kCTPostponementStatus</key>
	<string>kCTPostponementStatusActivated</string>
	<key>ChipSerialNo</key>
	<data>JHme8g==</data>
	<key>CertID</key>
	<integer>2</integer>
	<key>TimeIntervalSince1970</key>
	<integer>-1</integer>
	<key>UniqueChipID</key>
	<integer>1107833267081</integer>
	<key>DieID</key>
	<integer>2314362633182515072</integer>
	<key>BuildVersion</key>
	<string>11B651</string>
	<key>ActivationInfo</key>
	<dict>
		<key>ActivationInfoXML</key>
		<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
			WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
			IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
			LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QWN0
			aXZhdGlvblJhbmRvbW5lc3M8L2tleT4KCTxzdHJpbmc+Q0REMEJENDMtQkNF
			Ri00OUQ0LUE5RjAtRUEzRDYyN0RBNEVGPC9zdHJpbmc+Cgk8a2V5PkFjdGl2
			YXRpb25SZXF1aXJlc0FjdGl2YXRpb25UaWNrZXQ8L2tleT4KCTx0cnVlLz4K
			CTxrZXk+QWN0aXZhdGlvblN0YXRlPC9rZXk+Cgk8c3RyaW5nPkFjdGl2YXRl
			ZDwvc3RyaW5nPgoJPGtleT5CYXNlYmFuZEFjdGl2YXRpb25UaWNrZXRWZXJz
			aW9uPC9rZXk+Cgk8c3RyaW5nPlYyPC9zdHJpbmc+Cgk8a2V5PkJhc2ViYW5k
			Q2hpcElEPC9rZXk+Cgk8aW50ZWdlcj41ODk4NDY1PC9pbnRlZ2VyPgoJPGtl
			eT5CYXNlYmFuZE1hc3RlcktleUhhc2g8L2tleT4KCTxzdHJpbmc+QUVBNUND
			RTE0MzY2OEQwRUZCNENFMUYyQzk0Qzk2NkE2NDk2QzZBQTwvc3RyaW5nPgoJ
			PGtleT5CYXNlYmFuZFNlcmlhbE51bWJlcjwva2V5PgoJPGRhdGE+CglKSG1l
			OGc9PQoJPC9kYXRhPgoJPGtleT5CdWlsZFZlcnNpb248L2tleT4KCTxzdHJp
			bmc+MTFCNjUxPC9zdHJpbmc+Cgk8a2V5PkRldmljZUNlcnRSZXF1ZXN0PC9r
			ZXk+Cgk8ZGF0YT4KCUxTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSU0JT
			UlZGVlJWTlVMUzB0TFMwS1RVbEpRbmhFUTBOQlV6QkRRVkZCCglkMmRaVFho
			TVZFRnlRbWRPVmtKQlRWUktSRnBIVDFWVk5GSnFhM2xNVlVWM1VWVkpkRTVG
			V2tKTlV6QTFVbFZPUmdwTQoJVkUxNFVrUmpNRTVGVFROTmVrbDVUMFJGVEUx
			QmEwZEJNVlZGUW1oTlExWldUWGhEZWtGS1FtZE9Wa0pCWjFSQmEwNUMKCVRW
			SkpkMFZCV1VSV1VWRklDa1YzYkVSa1dFSnNZMjVTY0dKdE9IaEZla0ZTUW1k
			T1ZrSkJiMVJEYTBaM1kwZDRiRWxGCgliSFZaZVRSNFJIcEJUa0puVGxaQ1FY
			TlVRbTFzVVdGSE9YVUtXbFJEUW01NlFVNUNaMnR4YUd0cFJ6bDNNRUpCVVVW
			RwoJUVVGUFFtcFJRWGRuV1d0RFoxbEZRWE5XU0dKUGNGcERZa3BLWkdRNFNY
			UXdTRkZEV25CeWJncFVXV1E0V0dwS2NUaFEKCWVGRklOMFpQUkRWbGREbDJS
			VUpGTm5odlpUWjVjSG80UWtObVVqTlBhQ3RWWmxWWGFXMW5XalJMU2xGdVIy
			MDVUbmRrCglMMVJ2Q2psMFUwODVNVGMxYmk4d2QxUnVRelpGWjBzeGNtNVNh
			VTFTUnpCNVZETXZSVEpvWlVWc1REZEtkVTVwVTNVeQoJV25ORVdIUlZiRkpC
			UmxSYUwyUmlPVWdLT1ZsTlEyMVVZWEE0YmtSWGVsaFJZMG9yYTBOQmQwVkJR
			V0ZCUVUxQk1FZEQKCVUzRkhVMGxpTTBSUlJVSkNVVlZCUVRSSFFrRkpXVEZh
			UWpOdloyaGFWUXBRUlVsM1VEVnRRVlZTU0d0alZYZHVWSGxSCglTQzlUZW05
			cVpGcFhPVTVLSzNwdVNtZE9UVWh3TW1GcmFGRmpaMmRMUkVRdldtSm9lbTgx
			Vld0WGNXNW5DbkJWT0ZWQwoJT1VoU2VGcDRXV2RJVTFoSVozWkVTbXBKWlVw
			M1RETnRUWEkzWlRKRWNHNXhhRTVNZUUwMGMwZHdkR1ZJTkhwaFN6VnoKCVIx
			VnBiVUZEU1VzS1JubFJTbFoxYUVWUVJHTXdUREJLZWpWeFozZ3lZMEYxYVdW
			c00wYzNZVWNLTFMwdExTMUZUa1FnCglRMFZTVkVsR1NVTkJWRVVnVWtWUlZV
			VlRWQzB0TFMwdENnPT0KCTwvZGF0YT4KCTxrZXk+RGV2aWNlQ2xhc3M8L2tl
			eT4KCTxzdHJpbmc+aVBob25lPC9zdHJpbmc+Cgk8a2V5PkRldmljZVZhcmlh
			bnQ8L2tleT4KCTxzdHJpbmc+QTwvc3RyaW5nPgoJPGtleT5GTWlQQWNjb3Vu
			dEV4aXN0czwva2V5PgoJPHRydWUvPgoJPGtleT5JbnRlZ3JhdGVkQ2lyY3Vp
			dENhcmRJZGVudGl0eTwva2V5PgoJPHN0cmluZz44OTAxNDEwMzI1NTgwOTMz
			OTkxNTwvc3RyaW5nPgoJPGtleT5JbnRlcm5hdGlvbmFsTW9iaWxlRXF1aXBt
			ZW50SWRlbnRpdHk8L2tleT4KCTxzdHJpbmc+MDEzMDQ5MDAzNzEzOTQwPC9z
			dHJpbmc+Cgk8a2V5PkludGVybmF0aW9uYWxNb2JpbGVTdWJzY3JpYmVySWRl
			bnRpdHk8L2tleT4KCTxzdHJpbmc+MzEwNDEwNTgwOTMzOTkxPC9zdHJpbmc+
			Cgk8a2V5Pk1vZGVsTnVtYmVyPC9rZXk+Cgk8c3RyaW5nPk1DOTIzPC9zdHJp
			bmc+Cgk8a2V5PlByb2R1Y3RUeXBlPC9rZXk+Cgk8c3RyaW5nPmlQaG9uZTQs
			MTwvc3RyaW5nPgoJPGtleT5Qcm9kdWN0VmVyc2lvbjwva2V5PgoJPHN0cmlu
			Zz43LjAuNjwvc3RyaW5nPgoJPGtleT5SZWdpb25Db2RlPC9rZXk+Cgk8c3Ry
			aW5nPkxMPC9zdHJpbmc+Cgk8a2V5PlJlZ2lvbkluZm88L2tleT4KCTxzdHJp
			bmc+TEwvQTwvc3RyaW5nPgoJPGtleT5TSU1HSUQxPC9rZXk+Cgk8ZGF0YT4K
			CTNnPT0KCTwvZGF0YT4KCTxrZXk+U0lNR0lEMjwva2V5PgoJPGRhdGE+Cgkv
			dz09Cgk8L2RhdGE+Cgk8a2V5PlNJTVN0YXR1czwva2V5PgoJPHN0cmluZz5r
			Q1RTSU1TdXBwb3J0U0lNU3RhdHVzUmVhZHk8L3N0cmluZz4KCTxrZXk+U2Vy
			aWFsTnVtYmVyPC9rZXk+Cgk8c3RyaW5nPkM4UEg2MzdRRFRENTwvc3RyaW5n
			PgoJPGtleT5TdXBwb3J0c1Bvc3Rwb25lbWVudDwva2V5PgoJPHRydWUvPgoJ
			PGtleT5VbmlxdWVDaGlwSUQ8L2tleT4KCTxpbnRlZ2VyPjExMDc4MzMyNjcw
			ODE8L2ludGVnZXI+Cgk8a2V5PlVuaXF1ZURldmljZUlEPC9rZXk+Cgk8c3Ry
			aW5nPjlhMGQ4NDA1M2E5Yjc5MGY0NWNlOWQwM2Q4OTk0ZGYzNDhlM2YwNDI8
			L3N0cmluZz4KCTxrZXk+a0NUUG9zdHBvbmVtZW50SW5mb1BSSVZlcnNpb248
			L2tleT4KCTxzdHJpbmc+MC4xLjEyPC9zdHJpbmc+Cgk8a2V5PmtDVFBvc3Rw
			b25lbWVudEluZm9QUkxOYW1lPC9rZXk+Cgk8aW50ZWdlcj4wPC9pbnRlZ2Vy
			Pgo8L2RpY3Q+CjwvcGxpc3Q+Cg==
		</data>
		<key>FairPlaySignature</key>
		<data>
			p0BSUs7AvbBHykhcLNMrb94MY5JREVx8pkpSz46Y/gxBMcxFDVU68Z5KFWjS
			zOrsqtrGj75qLd1Nm2F4S+y5eaJ4cZZad/F8I12ehcZ6qFh2ZawVqsdUJeJ9
			jDVEzesupKHcKGwwc3WuCOMrxHUUB3qQijlMH2uIUDuMZzTpYkY=
		</data>
		<key>ActivationInfoComplete</key>
		<true />
		<key>FairPlayCertChain</key>
		<data>
			MIICxDCCAi2gAwIBAgINMzOvBwQCrwACrwAAAjANBgkqhkiG9w0BAQUFADB7
			MQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEmMCQGA1UECxMd
			QXBwbGUgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkxLzAtBgNVBAMTJkFwcGxl
			IEZhaXJQbGF5IENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTA3MDQwMjE1
			MTcyOFoXDTEyMDMzMTE1MTcyOFowZzELMAkGA1UEBhMCVVMxEzARBgNVBAoT
			CkFwcGxlIEluYy4xFzAVBgNVBAsTDkFwcGxlIEZhaXJQbGF5MSowKAYDVQQD
			EyFpUGhvbmUuMzMzM0FGMDcwNDAyQUYwMDAyQUYwMDAwMDIwgZ8wDQYJKoZI
			hvcNAQEBBQADgY0AMIGJAoGBALhgzNfm0PVVMAmAjfjfY26DQoVluKDteD/T
			SoJKTxL9JoXorCsnu82vF8r1soi1NfKjlzBljJN1iIiTUiu6bBKMrrO20e25
			jJv9rPtE6nObCl+X6gSBke59r/Da3G2Nk/MRYrGDBeAs8tGBPgj3VVL3kRjf
			b3n4aF9pAknXAjt/AgMBAAGjYDBeMA4GA1UdDwEB/wQEAwIDuDAMBgNVHRMB
			Af8EAjAAMB0GA1UdDgQWBBS3U61a2KK1RPtB2biyZ4xvHSqdYjAfBgNVHSME
			GDAWgBT6DdQRkRvmsk4eBkmUEd1jYgdZZDANBgkqhkiG9w0BAQUFAAOBgQAL
			8UNgC8firA4LKemCt3bCbrXt1xRTAh0L54h+48frpb8ziLQNnovzaMlrq+7m
			M8yDC4Bf+s4D/Sr+0auJ0qkUESuAaKUk6MYcO+L91QXtXR/yduiqBJ0lpeMl
			rvtMJHLD0Uh0VZbAtBC/u3K7mnsQ+/ik3K75ep7mD4RfyyrBKjCCA3EwggJZ
			oAMCAQICAREwDQYJKoZIhvcNAQEFBQAwYjELMAkGA1UEBhMCVVMxEzARBgNV
			BAoTCkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24g
			QXV0aG9yaXR5MRYwFAYDVQQDEw1BcHBsZSBSb290IENBMB4XDTA3MDIxNDE5
			MjA0MVoXDTEyMDIxNDE5MjA0MVowezELMAkGA1UEBhMCVVMxEzARBgNVBAoT
			CkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0
			aG9yaXR5MS8wLQYDVQQDEyZBcHBsZSBGYWlyUGxheSBDZXJ0aWZpY2F0aW9u
			IEF1dGhvcml0eTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAsmc8XSrn
			j/J3z+8xvNEE/eqf0IYpkAqj/2RK72n0CrnvxMRjyjotIT1SjCOJKarbF9zL
			KMRpzXIkwhDB9HgdMRbF5uoZHSozvoCr3BFIBiofDmGBzXmaXRL0hJDIfPZ4
			m1L4+vGIbhBy+F3LiOy2VRSXpE0LwU8nZ5mmpLPX2q0CAwEAAaOBnDCBmTAO
			BgNVHQ8BAf8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQU+g3U
			EZEb5rJOHgZJlBHdY2IHWWQwHwYDVR0jBBgwFoAUK9BpR5R2Cf70a40uQKb3
			R01/CF4wNgYDVR0fBC8wLTAroCmgJ4YlaHR0cDovL3d3dy5hcHBsZS5jb20v
			YXBwbGVjYS9yb290LmNybDANBgkqhkiG9w0BAQUFAAOCAQEAwKBz+B3qHNHN
			xYZ1pLvrQMVqLQz+W/xuwVvXSH1AqWEtSzdwOO8GkUuvEcIfle6IM29fcur2
			1Xa1V1hx8D4Qw9Uuuy+mOnPCMmUKVgQWGZhNC3ht0KN0ZJhU9KfXHaL/KsN5
			ALKZ5+e71Qai60kzaWdBAZmtaLDTevSV4P0kiCoQ56No/617+tm68aV/ypOi
			zgM3A2aFkwUbMfZ1gpMv0/DaOTc9X/66zZpwwAaLIu6pzgRuJGk7FlKlwPLA
			rkNwhLshkUPLu7fqW7qT4Ld3ie9NVgQzXc5cWTGn1ztFVhHNrsubDqDP3JOo
			ysVYeAAF2Zmr1l6H6pJzNFSjkxikgzCCBLswggOjoAMCAQICAQIwDQYJKoZI
			hvcNAQEFBQAwYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4x
			JjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRYwFAYD
			VQQDEw1BcHBsZSBSb290IENBMB4XDTA2MDQyNTIxNDAzNloXDTM1MDIwOTIx
			NDAzNlowYjELMAkGA1UEBhMCVVMxEzARBgNVBAoTCkFwcGxlIEluYy4xJjAk
			BgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MRYwFAYDVQQD
			Ew1BcHBsZSBSb290IENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
			AQEA5JGpCR+R2x5HUOsF7V55hC3rNqJXTFXsixmJ3vlLbPUHqyIwAugYPvhQ
			CdN/QaiY+dHKZpwkaxHQo7vkGyrDH5WeegykR4tb1BY3M8vED03OFGnRyRly
			9V0O1X9fm/IlA7pVj01dDfFkNSMVSxVZHbOU9/acns9QusFYUGePCLQg98us
			LCBvcLY/ATCMt0PPD5098ytJKBrI/s61uQ7ZXhzWyz21Oq30Dw4AkguxIRYu
			dNU8DdtiFqujcZJHU1XBry9Bs/j743DN5qNMRX4fTGtQlkGJxHRiCxCDQYcz
			ioGxMFjsWgQyjGizjx3eZXP/Z15lvEnYdp8zFGWhd5TJLQIDAQABo4IBejCC
			AXYwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYE
			FCvQaUeUdgn+9GuNLkCm90dNfwheMB8GA1UdIwQYMBaAFCvQaUeUdgn+9GuN
			LkCm90dNfwheMIIBEQYDVR0gBIIBCDCCAQQwggEABgkqhkiG92NkBQEwgfIw
			KgYIKwYBBQUHAgEWHmh0dHBzOi8vd3d3LmFwcGxlLmNvbS9hcHBsZWNhLzCB
			wwYIKwYBBQUHAgIwgbYagbNSZWxpYW5jZSBvbiB0aGlzIGNlcnRpZmljYXRl
			IGJ5IGFueSBwYXJ0eSBhc3N1bWVzIGFjY2VwdGFuY2Ugb2YgdGhlIHRoZW4g
			YXBwbGljYWJsZSBzdGFuZGFyZCB0ZXJtcyBhbmQgY29uZGl0aW9ucyBvZiB1
			c2UsIGNlcnRpZmljYXRlIHBvbGljeSBhbmQgY2VydGlmaWNhdGlvbiBwcmFj
			dGljZSBzdGF0ZW1lbnRzLjANBgkqhkiG9w0BAQUFAAOCAQEAXDaZTC14t+2M
			m9zzd5vydtJ3ME/BH4WDhRuZPUc38qmbQI4s1LGQEti+9HOb7tJkD8t5TzTY
			oj75eP9ryAfsfTmDi1Mg0zjEsb+aTwpr/yv8WacFCXwXQFYRHnTTt4sjO0ej
			1W8k4uvRt3DfD0XhJ8rxbXjt57UXF6jcfiI1yiXV2Q/Wa9SiJCMR96Gsj3OB
			YMYbWwkvkrL4REjwYDieFfU9JmcgijNq9w2Cz97roy/5U2pbZMBjM3f3Ogcs
			VuvaDyEO2rpzGU+12TZ/wYdV2aeZuTJC+9jVcZ5+oVK3G72TQiQSKscPHbZN
			nF5jyEuAF1CqitXa5PzQCQc3sHV1IQ==
		</data>
	</dict>
</dict>
</plist>